-extends 'smartmin/form.html'

-load compress temba smartmin i18n

-block form-span

-block title-text
  .title-text
    %h1
      -trans "Natural Language Understand Service"

-block summary
  -if api_name
    -trans "Connected to NLU Service"
    <b>{{api_name}}</b>.
  -else
    -trans "Connect your NLU Service"

-block pre-form
  -if not api_name
    -blocktrans
      Connecting a Natural Language Understanding service allows you to get entities and intents from contacts messages.
    %hr

-block fields
  -if not api_name
    {{ block.super }}
  -else
    .hide
      {{ block.super }}
    .control-group.field_extra_token_name
      %label.control-label
        -trans "Bot name"
    .control-group.field_extra_token_name
      %input{name: 'extra_token_name', type: 'text'}
      %p.help-block
        -trans "You can put any name for this bot"

    .control-group.field_extra_token
      %label.control-label
        -trans "Bot key"
      .control-group.field_extra_token
        %input{name: 'extra_token', type: 'text'}
        %p.help-block
          -trans "You can get key in your NLU Service website"

    %input{name: 'token', type: 'hidden', value: 'true'}
    %button{class: 'btn btn-add-token'}
      -trans "Add token"

    -if extra_tokens
      %p
        -trans "Extra tokens:"
          -for extra in extra_tokens
            %p
              {{extra.name}} - {{extra.token}} -
              %a.posterize{href:'{% url "orgs.org_nlu_api" %}?delete_extra=true&token={{extra.token}}'}
                -trans "Delete"

-block form-buttons

-block post-form
  -if api_name
    %p
      -trans "Your NLU Service is connected"
      %b
        {{api_name}}.

    %p
      -trans "If you no longer want it connected, you can"
      %a{href:'javascript:confirmNluApiDisconnect();'}
        %b
          -trans "disconnect"

      -trans "your NLU Service."
      %p
        %b
          -trans "Doing so will interrupt flows that use NLU."

    .disconnect-nlu-api.hide
      .title
        -trans "Disconnect NLU Service"
      .body
        -blocktrans
          This will disconnect your NLU Service. Are you sure you want to proceed?
    %a#disconnect-nlu-api-form.posterize{href:'{% url "orgs.org_nlu_api" %}?disconnect=true'}

-block extra-script
  :javascript
    $(document).ready(function() {
      select2div('#id_api_name');
    });
    function confirmNluApiDisconnect() {
      removalConfirmation("disconnect-nlu-api", "Disconnect");
    }

-block extra-style
  :css
    .btn-add-token {
      margin: 0 0 10px 0;
    }